.container {
    padding: 2rem;

    @media (max-width: 768px) {
        padding: 1rem;
    }
}

.collection {
    column-width: 350px;
    column-gap: 16px;

    img {
        position: relative;
        display: inline-block;
        width: 100%;
        height: auto;
        object-fit: contain;
        margin-bottom: 16px;
        border-radius: 8px;
    }
}