.Pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;

    .button {
        margin: 0 0.5rem;
    }

    .page {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 2rem;
    }

    .prev,
    .next {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        border: 1px solid #aaa;
        cursor: pointer;
    }
}