.category {
    padding: 2rem;

    @media (max-width: 768px) {
        padding: 1rem;
    }
}

.category:not(:last-child) {
    border-bottom: 1px solid #aaa;
}

.category {
    h2 {
        margin-bottom: 0.5rem;
    }

    ul {
        position: relative;
        margin: 0;
        padding: 0;
        display: flex;
        gap: 0.5rem;
        flex-wrap: wrap;
        margin-bottom: 1rem;

        .dropzone {
            display: none;
            position: relative;
            width: 4px;
            height: 40px;
            background-color: #eee;

            &.visible {
                display: block;
            }

            &.hover {
                background-color: #a00;
            }
        }

        li {
            position: relative;
            list-style: none;
            background-color: #fff;
            padding: 0.5rem 0.8rem;
            border-radius: 0.5rem;
            cursor: pointer;

            .dragHandle {
                svg {
                    width: 0.8rem;
                    height: 0.8rem;
                }
            }

            img {
                display: none;
                position: absolute;
                background: #fff;
                border-radius: 0.5rem;
                bottom: 0;
                right: 0;
                width: 100px;
                height: auto;
                transform: translate(100%, 100%);
                z-index: 1;
            }

            &:hover {
                img {
                    display: block;
                }
            }
        }
    }
}

.form {
    margin-bottom: 1rem;
    display: flex;
    gap: 0.5rem;

    input {
        padding: 0.5rem 1rem;
        border-radius: 50px;
        border: none;
        outline: none;
        background-color: #fff;
        color: #000;
        font-size: 0.8rem;
        display: flex;
        align-items: center;
        font-weight: 500;

        &::placeholder {
            color: #aaa;
        }

        &:focus {
            box-shadow: 0
        }
    }

    button svg {
        width: 0.8rem;
        height: 0.8rem;
    }
}

.categoryHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;

    h2 {
        margin: 0;
        padding: 0;
    }
}