@import '@baejino/style/scss/reset.scss';
@import '@baejino/ui/css/main.css';
@import './context-menu.scss';

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;600&display=swap');

body {
  font-family: 'Oswald', sans-serif;
}

body {
  background-color: #e7e6e7;
}

h1 {
  font-size: 1.5rem;
  font-weight: 900;
}

h2 {
  font-size: 1.25rem;
  font-weight: 800;
}

h3 {
  font-size: 1rem;
  font-weight: 700;
}

h4 {
  font-size: 0.875rem;
  font-weight: 600;
}

h5 {
  font-size: 0.75rem;
  font-weight: 600;
}

h6 {
  font-size: 0.625rem;
  font-weight: 600;
}

button {
  cursor: pointer;

  &:hover {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  }
}

a {
  text-decoration: none;
  color: inherit;
}

.primary-button {
  padding: 0.5rem 1rem;
  border-radius: 50px;
  border: none;
  background-color: #000;
  color: #fff;
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-weight: 500;

  svg {
    width: 1rem;
    height: 1rem;
  }
}

.secondary-button {
  padding: 0.5rem 1rem;
  border-radius: 50px;
  background-color: #fff;
  border: 1px dashed #000;
  color: #000;
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-weight: 500;

  svg {
    width: 1rem;
    height: 1rem;
  }
}

.container {
  padding: 2rem;

  @media (max-width: 768px) {
    padding: 1rem;
  }
}