.container {
    padding: 2rem;

    @media (max-width: 768px) {
        padding: 1rem;
    }
}

.collection {
    display: block;
}

.item {
    display: grid;
    grid-template-areas:
        "header header"
        "image body";
    width: 100%;
    margin-bottom: 1.5rem;
    border: 1px solid #aaa;
    border-radius: 0.5rem;
    align-items: center;

    &:nth-child(even) {
        grid-template-areas:
            "header header"
            "body image";
    }

    .header {
        grid-area: header;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #aaa;
        padding: 0 1.5rem;
    }

    .image {
        padding: 1rem;
        border-radius: 1.5rem;
        grid-area: image;
        width: 350px;
        height: auto;
        object-fit: contain;
    }

    .body {
        grid-area: body;
        padding: 1.5rem;
    }

    @media (max-width: 768px) {
        width: 100%;
        grid-template-areas:
            "header"
            "image"
            "body";

        &:nth-child(even) {
            grid-template-areas:
                "header"
                "image"
                "body";
        }

        .image {
            width: 100%;
        }
    }
}